<app-search></app-search>

<div class="box">
   <h3>Projects</h3>
   <app-progress class="centered" *ngIf="loading">Loading projects...</app-progress>

   <div *ngIf="error">
      <span class="muted">Error: </span> <span class="negative">{{error.message}}</span><br><br>
      {{error | json}}
   </div>

   <div *ngIf="!loading && !error">
      <table>
         <thead>
         <tr>
            <!--<th>Founder Key</th>
            <th>Nostr Pub Key</th>-->
            <th>Project Identifier</th>
            <th>Created On Block</th>
            <th>Transaction ID</th>
         </tr>
         </thead>
         <tbody>
         <tr *ngFor="let project of projects">
            <!--<td>{{ project.founderKey }}</td>
            <td>{{ project.nostrPubKey }}</td>-->
            <td><a [routerLink]="['../angor-project', project.projectIdentifier]">{{ project.projectIdentifier }}</a></td>
            <td>{{ project.createdOnBlock }}</td>
            <td><a [routerLink]="['../transaction', project.trxId]">{{ project.trxId | slice:0:30 }}</a></td>
         </tr>
         </tbody>
      </table>
   </div>
</div>
