div {
   border: 1px solid green;
}

.app-header {
   border: 1px solid red;
 }

 header {
   border: 1px solid purple;
 }

 nav {
   border: 1px solid yellow;
 }

 .footer-left {
   border: 1px solid red;
 }
 
 .footer-right {
   border: 1px solid blue;
 }
 
 .footer-toggle {
   border: 1px solid palegreen;
 }

 .content {
   border: 1px solid orange;
 }

 .content-limited {
   border: 1px solid yellow;
 }
 
 .content-center {
   border: 1px solid purple;
 }
 
 .content-centered {
   border: 1px solid pink;
 }