<app-search></app-search>

<div class="box">
   <div *ngIf="transaction">
      <div class="grid-hash">
         <div>
            <span class="grid-hash-left"><i class="fas fa-hashtag"></i></span>
            <span class="grid-hash-middle breakable">{{transaction.transactionId}}</span>
            <span class="grid-hash-right">
               <div class="grid-double">
                  <!-- <div *ngIf="block.blockIndex > 1">
                     <a [routerLink]="['../', block.blockIndex - 1]">
                        <i class="fas fa-cube"></i><br>
                        <span class="grid-hash-block-index">{{block.blockIndex - 1}}</span>
                     </a>
                  </div>
                  <div class="muted">
                     <i class="fas fa-cube"></i><br>
                     <span class="grid-hash-block-index">{{block.blockIndex}}</span>
                  </div>
                  <div *ngIf="block.blockIndex !== lastBlockHeight">
                     <a [routerLink]="['../', block.blockIndex + 1]">
                        <i class="fas fa-cube"></i><br>
                        <span class="grid-hash-block-index">{{block.blockIndex + 1}}</span>
                     </a>
                  </div> -->
               </div>
            </span>
         </div>
      </div>
   </div>
</div>

<div class="box">

   <a class="link block-details-toggle" (click)="toggleDetails()"><span *ngIf="!detailsVisible">View</span><span
         *ngIf="detailsVisible">Hide</span>
      details</a>

   <h3>Transaction Details</h3>

   <app-progress class="centered" *ngIf="!transaction"></app-progress>

   <div class="grid-label-value" *ngIf="transaction">
      <div>
         <span>Age</span>
         <span>{{transaction.timestamp | ago}}</span>
      </div>
      <div>
         <span>Date</span>
         <span>{{transaction.timestamp | timestamp}}</span>
      </div>
      <div>
         <span>Block</span>
         <span><a [routerLink]="['../../block', transaction.blockIndex]">{{transaction.blockIndex}}</a></span>
      </div>
      <div>
         <span>Confirmations</span>
         <span>{{transaction.confirmations}}</span>
      </div>
      <div *ngIf="transaction.isCoinbase">
         <span>Type</span>
         <span>CoinBase</span>
      </div>
      <div *ngIf="transaction.isCoinstake">
         <span>Type</span>
         <span>CoinStake</span>
      </div>
      <div *ngIf="detailsVisible">
         <span>Unit Timestamp</span>
         <span>{{transaction.timestamp}}</span>
      </div>
      <div *ngIf="detailsVisible">
         <span>LockTime</span>
         <span>{{transaction.lockTime}}</span>
      </div>
      <div *ngIf="detailsVisible">
         <span>Replace by Fee</span>
         <span>{{transaction.rbf | yes}}</span>
      </div>
      <div *ngIf="detailsVisible">
         <span>Version</span>
         <span>{{transaction.version}}</span>
      </div>

   </div>
</div>

<div class="grid-double" *ngIf="transaction">
   <div class="grid-double-left shadow">
      <h3>Inputs ({{transaction.inputs.length}})</h3>

      <div class="grid-list-inputs" *ngFor="let item of transaction.inputs">

         <div *ngIf="item.inputTransactionId != '0000000000000000000000000000000000000000000000000000000000000000'"><a 
               [routerLink]="['../../transaction', item.inputTransactionId]" title="Previous output"><i
                  class="fas fa-arrow-left"></i></a></div>
         <div *ngIf="item.inputTransactionId == '0000000000000000000000000000000000000000000000000000000000000000'">
            <i title="Coinbase" class="fas fa-hammer"></i>
            <!-- <i title="Coinbase" class="fas fa-plus"></i>
            <i class="fab fa-codepen"></i>
            <i class="fas fa-cubes"></i>
            <i class="fas fa-cube"></i>
            <i class="fas fa-dice"></i>
            <i class="fas fa-dice-five"></i>
            
            <i class="fas fa-money-bill"></i>
            <i class="far fa-money-bill-alt"></i>
            <i class="far fa-star"></i>
            <i class="fas fa-star"></i> -->
            <!-- <i class="fas fa-random"></i> -->
         </div>
         <div class="left number"> {{item.inputIndex}}</div>
         <div class="left" *ngIf="item.inputAddress != null"><a class="address"
               [routerLink]="['address', item.inputAddress]">{{item.inputAddress}}</a></div>
         <div class="left" *ngIf="item.inputAddress == null">Can't parse input address</div>
      </div>

   </div>
   <div class="grid-double-right shadow">
      <h3>Outputs ({{transaction.outputs.length}})</h3>

      <div class="grid-list-outputs" *ngFor="let item of transaction.outputs">
         <div class="left number"> {{item.index}}</div>
         <div class="left" *ngIf="item.address != null"><a class="address" [routerLink]="['../../address', item.address]">{{item.address}}</a></div>
         <div class="left" *ngIf="item.address == null">Can't parse output address</div>
         <div>{{item.balance | amount}} <span class="hide-small">{{setup.Chain.Symbol}}</span></div>
         <div *ngIf="item.spentInTransaction != null"><a [routerLink]="['../../transaction', item.spentInTransaction]" title="Spent"><i class="fas fa-arrow-right"></i></a></div>
         <div *ngIf="item.spentInTransaction == null"></div>
      </div>

   </div>
</div>

<!-- <div class="grid-double" *ngIf="transaction">
   <div class="box smaller">
      <h3>Inputs ({{transaction.inputs.length}})</h3>

      <table>
         <tr>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th>Amount</th>
         </tr>
         <tr *ngFor="let item of transaction.inputs">
            <td *ngIf="item.inputTransactionId != '0000000000000000000000000000000000000000000000000000000000000000'"><a [routerLink]="['../../transaction', item.inputTransactionId]" title="Previous output"><i class="fas fa-arrow-left"></i></a></td>
            <td *ngIf="item.inputTransactionId == '0000000000000000000000000000000000000000000000000000000000000000'">New coins</td>
            <td class="number"> {{item.inputIndex}}</td>
            <td class="left" *ngIf="item.inputAddress != null"><a [routerLink]="['address', item.inputAddress]">{{item.inputAddress}}</a></td>
            <td class="left" *ngIf="item.inputAddress == null">Can't parse input address</td>
            <td></td>
            <td></td>
         </tr>
      </table>

   </div>
   <div class="box smaller">
      <h3>Outputs ({{transaction.outputs.length}})</h3>

      <table>
         <tr>
            <th></th>
            <th></th>
            <th>Amount</th>
            <th></th>
         </tr>
         <tr *ngFor="let item of transaction.outputs">
            <td class="number"> {{item.index}}</td>
            <td class="left" *ngIf="item.address != null"><a [routerLink]="['address', item.address]">{{item.address}}</a></td>
            <td class="left" *ngIf="item.address == null">Can't parse output address</td>
            <td>{{item.balance | amount}}</td>
            <td *ngIf="item.spentInTransaction != null"><a [routerLink]="['../../transaction', item.spentInTransaction]" title="Spent"><i class="fas fa-arrow-right"></i></a></td>
            <td *ngIf="item.spentInTransaction == null"></td>
         </tr>
      </table>

   </div>
</div> -->