.richlist{
   grid-template-columns: 100px auto 1fr;
 }

 .right {
    text-align: right;
 }

 .supply-line span:nth-child(2) {
   text-align: right;
 }

 .wallet-icon {
    width: 25%;
 }

 .wallet-address {
    font-size: 0.8em;
 }